/* Account for fixed nav */
body {
    padding-top: 40px;
    overflow: hidden;
}

#menu {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* Grid */
#inmate-table {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
}
.slick-header {
  border: 1px solid gray;
  border-top: 0;
  line-height: 24px;
  background-color: #eee;
}
.slick-header label {
  display: inline-block;
  font-weight: bold;
  margin: auto auto auto 6px;
}
.slick-viewport {
    background-color: #fff;
}
.slick-cell {
    padding: 2px 5px;
    font-size: 13px;
}
.slick-cell.selected {
    background-color: #EEF4FF;
}

@media (max-width: 979px) {
    /* Nav isn't fixed on smallish devices, so padding needs to go away. */
    body {
        padding-top: 0;
    }
}
